{% extends 'layouts/base.html.twig' %}

{% block title %}
SnowTricks
{% endblock %}

{% block body %}
	<main class="container">
        <div class="row mt-5">
            <div class="col-12 text-center">
                <h1>Reset Password</h1>
            </div>
            <div class="col-12 text-center d-flex justify-content-center">
                <form class="form-signin mt-5">
                    <div class="form-label-group mb-3">
                        <label class="m-1" for="inputEmail">Username</label>
                        <input type="text" id="inputEmail" class="form-control" placeholder="Username" required="" autofocus="">
                    </div>
                     <div class="form-label-group mb-3">
                        <label class="m-1" for="inputPassword">Password</label>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                    </div>
                    <button class="btn btn-lg btn-primary btn-block mt-4" type="submit">Reset</button>
                </form>
            </div>
        </div>
	</main>
{% endblock %}