{% extends 'layouts/base.html.twig' %}

{% block title %}
SnowTricks
{% endblock %}

{% block body %}
    <header class="mb-auto container mt-3">
        <div class="p-4 p-md-5 mb-4 rounded text-bg-dark text-center d-flex justify-content-center header-trick">
            <div class="col-md-8 mt-5">
                <h1 class="display-4 mt-5">{{ trick.name }}</h1>
            </div>
        </div>
    </header>

	<main class="container">
		<div class="container px-4 py-5" id="custom-cards">
            <div class="row py-5">
                <div class="col-12">
                    <p>{{ trick.content }}</p>
                </div>
            </div>  
        </div>	
	</main>
{% endblock %}